<div class="text-center home">
  <h2> Building a Simple Session Based Authentication using Ruby on Rails </h2><br>
  <p>  Please signup or login to test the app. </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>
